body {
    background-color: rgb(33, 33, 33);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#submit {
    background-color: rgb(0, 198, 13);
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
  
#submit:hover {
    background-color: rgb(136, 215, 148);
    color: white;
}
  
#submit-button:active {
    background-color: rgb(19, 125, 0);
    color: white;
    transition: 0s;
}